
/*!*variables de couleurs*!*/

:root {
    --background-color: #000000;
    --text-color: #FFFFFF;
    --button-about-color: #6B57FF;
    --button-project-color: #FFFFFF;
    --text-show-color: #6855F9;
    --all-background-language: #26144D;
    --background-language: #000000;
    --header-color: #19191C;
    --hr-color: #2A2B2E;
    --footer-color: #19191C;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --degrade-color-1: #7F0FB5;
    --degrade-color-2: #450D81;
    --degrade-color-3: #B118C4;
    --degrade-color-4: #5F128B;
    --degrade-color-5: #D2509E;
    --degrade-color-6: #652876;
    --degrade-color-7: #EC7062;
    --degrade-color-8: #833E5E;
    --form-color: #303033;
    --form-text-color: #7D7D7E;
    --hr-footer: #272729;
    --text-ressource-color: #BBBBBC;
    --text-ressources: #A2A2A3;
    --image-ressource-color: #CBCBCB;
    --menu-color: #BEB4B4;
}

/*!*fin variables de couleurs*!*/

/*!*import des polices*!*/

@font-face {
    font-family: "Figtree";
    src: url(./Font/static/Figtree-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Figtree";
    src: url(./Font/static/Figtree-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Figtree";
    src: url(./Font/static/Figtree-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Figtree";
    src: url(./Font/static/Figtree-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Figtree";
    src: url(./Font/static/Figtree-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: "Figtree";
    src: url(./Font/static/Figtree-Medium.ttf);
    font-weight: 500;
}

/*
fin des imports de polices

Début du CSS
*/

body {
    background-color: var(--background-color);
    font-family: "Figtree", serif;
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

/*Le header*/

header {
    background-color: var(--header-color);
    width: 100%;
    z-index: 3;
}

h1 {
    font-weight: 600;
    font-size: 16px;
    margin-left: 16.5px;
    margin-bottom: 0;
    display: inline-block;
}

.top_header>img:first-of-type {
    margin-right: 24px;
    margin-bottom: 24px;
    margin-top: 15px;
    float: right;
}

.top_header>img:nth-of-type(2) {
    margin-right: 24px;
    margin-left: 27px;
    margin-top: 15px;
    float: right;
}

header>p {
    display: inline-block;
    margin-left: 16.5px;
    color: var(--menu-color);
}

/*Fin du header*/

/*Début du slider infiny*/

.slider-1 {
    margin: auto;
    width: 100%;
    max-width: 100vw;
}

.slider-1 .slider {
    display: flex;
    animation: slider-1 12s infinite linear;
}

.slider-1 img {
    background: #000;
    flex-shrink: 0;
    width: 50%;
    object-fit: contain;
    color: white;
}


@keyframes slider-1 {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-400%); /* Déplace de 100% pour chaque ensemble d'images */
    }
}

/*Fin du slider infiny*/

/*Début du défillement vertical*/


/*Fin du défillement vertical*/

.about {
    background-color: var(--button-about-color);
    padding: 10.5px 20px;
    border-radius: 37px;
    float: right;
    margin-right: 15px;
    text-decoration: none;
    color: var(--white-color);
}

hr {
    width: 100em;
}

.logo {
    position: absolute;
    top: 11em;
    left: 1.1em;
}

div>h2 {
    font-weight: 600;
    font-size: 35px;
    position: absolute;
    top: 7.8em;
    margin-left: 14px;
    margin-top: 33px;
}

.job {
    font-weight: 600;
    font-size: 42px;
    position: absolute;
    top: 7.8em;
    margin-left: 14px;
    margin-top: 33px;
    width: 100%;
    line-height: 50px;
}

.about_me>p:nth-of-type(1) {
    font-weight: 300;
    font-size: 23px;
    margin-left: 14px;
    margin-top: -61.4px;
}

.about_me>a {
    background-color: var(--button-project-color);
    padding: 10.5px 20px;
    border-radius: 37px;
    margin-left: 14px;
    color: var(--black-color);
    text-decoration: none;
    display: inline-block;
    font-weight: 300;
}

.about_me>p:nth-of-type(2) {
    font-weight: 400;
    font-size: 16px;
    color: var(--white-color);
    opacity: 70%;
    margin-left: 16px;
}

.projets>h2 {
    font-weight: 600;
    font-size: 42px;
    margin-left: 16px;
    margin-bottom: 0;
}

.projets>h2+p {
    font-weight: 600;
    font-size: 42px;
    margin-left: 16px;
    margin-top: 0;
    color: var(--text-show-color);
}

.projets>section>h3{
    font-weight: 600;
    font-size: 28px;
    margin-left: 16px;
}

.language>p {
    font-size: 16px;
    font-weight: 400;
}

.language {
    background-color: var(--all-background-language);
    margin-bottom: 102px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 18px 5px 24px 34px;
    border-radius: 16.5px;
}

.all_languages {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.item {
    background-color: var(--background-color);
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    border-radius: 8px;
    min-height: 100px;

}

.item img {
    margin-bottom: 10px;
}

.item p {
    color: var(--white-color);
    margin: 0;
    font-family: "Figtree", serif;
    font-weight: 700;
    font-size: 13px;
}

.people {
    display: flex;
    flex-wrap: wrap;
}

.people>h3 {
    font-size: 28px;
    font-weight: 600;
    margin-left: 18px;
    margin-top: 86px;
    margin-bottom: 31px;
}

.article1 {
    background: linear-gradient(var(--degrade-color-1), var(--degrade-color-2));
    padding-top: 18px;
    padding-left: 12px;
    padding-bottom: 22px;
    margin: 32px 14px 21px;
    border-radius: 13.5px;
    display: inline-block;
}

.article2 {
    background: linear-gradient(var(--degrade-color-3), var(--degrade-color-4));
    padding-top: 18px;
    padding-left: 12px;
    padding-bottom: 22px;
    margin: 32px 14px 21px;
    border-radius: 13.5px;
    display: inline-block;

}

.article3 {
    background: linear-gradient(var(--degrade-color-5), var(--degrade-color-6));
    padding-top: 18px;
    padding-left: 12px;
    padding-bottom: 22px;
    margin: 32px 14px 21px;
    border-radius: 13.5px;
    display: inline-block;

}


h4 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

article>p {
    font-weight: 400;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 18px;
}

article>p:nth-of-type(2) {
    font-weight: 400;
    font-size: 16px;
}

.contact {
    position: relative;
}

.contact>h3 {
    font-weight: 600;
    font-size: 28px;
    margin-left: 16px;
    position: absolute;
    margin-top: 19px;
    top: 7em;
}

.contact>p:first-of-type {
    font-weight: 300;
    font-size: 24px;
    margin-left: 16px;
    position: absolute;
    top: 9.5em;
}

.contact>a {
    color: var(--black-color);
    background-color: var(--button-project-color);
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    padding: 10.5px 11px;
    border-radius: 37px;
    margin-left: 16px;
    position: absolute;
    top: 23.5em;
}

.contact>p:nth-of-type(2) {
    font-weight: 300;
    font-size: 13px;
    margin-left: 20px;
    position: absolute;
    top: 31.3em;
}

.contact>.logo2 {
    margin-left: 16px;
    position: absolute;
    top: 8.1em;
}

.fond_contact {
    margin-top: 64px;
}

.position>img:nth-of-type(2) {
    margin-top: 64px;
    margin-bottom: 61px;
}

.footer>h3 {
    font-weight: 600;
    font-size: 35px;
    margin-top: 65px;
    margin-left: 12px;
    margin-bottom: 23px;
}

.footer>a {
    font-weight: 500;
    font-size: 20px;
    padding: 20px 41px;
    margin-left: 12px;
    background-color: var(--button-project-color);
    color: var(--black-color);
    border-radius: 37px;
    display: inline-block;
    text-decoration: none;
}

.footer>h4 {
    font-weight: 600;
    font-size: 20px;
    margin-top: 23px;
    margin-bottom: 25px;
    margin-left: 12px;

}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 14px;
}

.container p {
    font-weight: 400;
    font-size: 16px;
    margin-left: 14px;
    margin-top: 0;
}

.faq>h3 {
    font-weight: 600;
    font-size: 30px;
    margin-left: 12px;
    margin-bottom: 28px;
    margin-top: 45px;
}

.faq>span {
    font-weight: 700;
    font-size: 32px;
    margin-left: 12px;
}

.faq>p {
    font-weight: 400;
    font-size: 22px;
    margin: 0 34px 8px;
}

.form>p {
    font-weight: 600;
    font-size: 30px;
    line-height: 16.5px;
    letter-spacing: -2px;
    margin-bottom: 25px;
    margin-left: 16px;
    margin-top: 0;
}

.form{
    background-color: var(--header-color);
    padding-top: 42px;
}

div>label {
    display: inline-block;
    margin-left: 32px;
    margin-top: 25px;
    font-weight: 400;
    font-size: 18px;
    color: var(--form-text-color);
}

div>input {
    display: block;
    margin-left: 16px;
    width: 357px;
    height: 40px;
    background-color: var(--form-color);
    border: none;
    color: var(--white-color);
}

.message>label {
    display: inline-block;
    margin-left: 32px;
    margin-top: 25px;
    font-weight: 400;
    font-size: 18px;
    color: var(--form-text-color);
}

.message>textarea {
    display: block;
    margin-left: 16px;
    width: 357px;
    height: 154px;
    background-color: var(--form-color);
    border: none;
}

.ressource>hr:nth-of-type(1) {
    margin-top: 220px;
    color: var(--hr-footer);
}

.ressource>h4 {
    font-weight: 600;
    font-size: 13px;
    color: var(--text-ressource-color);
    margin-left: 16px;
}

.ressource>a:nth-of-type(1) {
    font-weight: 300;
    font-size: 13px;
    color: var(--text-ressources);
    margin-left: 16px;
    margin-top: 10px;
    text-decoration: none;
    display: block;
}

.ressource>a:nth-of-type(2) {
    font-weight: 300;
    font-size: 13px;
    color: var(--text-ressources);
    margin-left: 16px;
    margin-top: 10px;
    text-decoration: none;
    display: block;
}
.ressource>a:nth-of-type(3) {
    font-weight: 300;
    font-size: 13px;
    color: var(--text-ressources);
    margin-left: 16px;
    margin-top: 10px;
    text-decoration: none;
    display: block;
}
.ressource>a:nth-of-type(4) {
    font-weight: 300;
    font-size: 13px;
    color: var(--text-ressources);
    margin-left: 16px;
    margin-top: 10px;
    text-decoration: none;
    display: block;
}

.ressource>hr:nth-of-type(2) {
    margin-top: 32px;
    color: var(--hr-footer);
}

.image_contact {
    margin-left: 16px;
}

.image_contact :nth-of-type(2) {
    margin-left: 24px;
}

.image_contact :nth-of-type(3) {
    margin-left: 24px;
}

.image_contact :nth-of-type(4) {
    margin-left: 24px;
}

.image_contact :nth-of-type(5) {
    margin-left: 24px;
}

.image_contact :nth-of-type(6) {
    margin-left: 24px;
}

.text_ressources{
    font-weight: 300;
    font-size: 13px;
    color: var(--text-ressources);
    margin-left: 15px;
    margin-top: 11px;
    display: inline-block;
}

.image_ressource a{
    color: var(--image-ressource-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    margin-left: 16px;
    margin-top: 23px;
    margin-bottom: 26px;
}

.image_ressource img {
    margin-left: 59px;
}

.copyright {
    font-weight: 300;
    font-size: 13px;
    color: var(--text-ressources);
    margin-left: 15px;
}

video {
    border-radius: 10px;
}

.roll_video {
    display: flex;
    margin-left: 32px;
    margin-top: 26px;
}

.video_box {
    margin-right: 55px;
}

.video_box>p:nth-of-type(1) {
    font-size: 20px;
    font-weight: 600;
    margin-top: 24px;
}

.video_box>p:nth-of-type(2) {
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    margin: 0 26px;
}

.arrow-text {
    margin: 0 26px;
}

.arrow-container_people{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.arrow_people {
    margin: 0 26px;
}

video {
    border-radius: 10px;
}

.roll_video {
    display: flex;
    margin-left: 32px;
    margin-top: 26px;
}

.video_box {
    margin-right: 55px;
}


/*Ajouter les media queries
Changer les videos
changer le header, le rendre plus fluide
rendre le burger menu accessible
faire bouger les images
rendre le site dynamique
ne pas oublier les animations
faire comme il faut avec les slider, les fleche...
faire les liens
mettre les mediasquery, pour rajouter ou enlever des choses*/